<!doctype html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ chorus.Title }}</title>

<body style="">
    <h1>{{ chorus.Title }}</h1>
    {% for section in sections %}
      <h2>{{ section.name }}</h2>
      <div>
        <pre>{{ section.text }}</pre>
      </div>
    {% endfor %}
</body>