<!doctype html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Songs (Json)</title>

<body>
    <h1>Songs (Json)</h1>
    <h2>Tokens</h2>
    <div>
    <pre>{{ tokens }}</pre>
    </div>
    <h2>Json></h2>
    <div>
    <pre>{{ json_text }}</pre>
    </div>
</body>