<!doctype html>

<title>SongProDB</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    <link rel="stylesheet" href="css/w3.css">
    <style>
        pre {
            font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
        }

        body {
            font-family: Verdana, Geneva, sans-serif;
        }
    </style>
    -->
<body>
<div>
    <h1>SongProDB</h1>
    {% for url in urls %}
    <div>
        <a href="{{ url.url }}">{{ url.text }}</a>
    </div>
    {% endfor %}
    <h2>Song Search</h2>
    <form action="/song_search">
        <label for="search">Words In Song:</label>
        <input type="text" id="search" name="search">
        <input type="submit" value="Submit">
    </form>
    </div>
</body>