<!doctype html>
<head>
<title>SongProDB</title>
<style>
pre { font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace; }
body { font-family: Verdana, Geneva, sans-serif; }
</style>
</head>

<body>
    <h1>SongProDB</h1>
    {% for url in urls %}
    <div>
        <a href="{{ url.url }}">{{ url.text }}</a>
    </div>
    {% endfor %}
</body>