<!doctype html>

<title>Songs</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <h1>Songs</h1>
    {% for song in songs %}
    <div>
        <a href="/songs/{{ song.index }}">{{ song.name }}</a>
    </div>
    {% endfor %}
</body>